<div>
  <h1>Email Verification</h1>
  <p>Your verification code is: <strong>{{code}}</strong></p>
  <p>This code will expire in 24 hours.</p>
  <p>If you didn't request this code, please ignore this email.</p>
</div>